stty -ixon -ixoff

alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias ls='/bin/ls -Ah --color=auto'
alias l='/bin/ls -Ah -F -l --color=auto'
alias em='emacsclient -nw'
alias gs='git status'
alias sa='source ~/.aliases'
alias va='vim ~/.aliases'

setxkbmap -option "ctrl:swapcaps"
xset r rate 135 30

function reset() {
  /usr/bin/reset $@
  source ~/.bashrc
}

