[user]
	email = divyekapoor@gmail.com
	name = Divye Kapoor
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[alias]
	co = checkout
	b = branch
	d = difftool
	r = reset HEAD --hard
	unsubmit = reset HEAD~1 --soft
[credential]
	helper = cache --timeout=86400
[branch]
	autosetuprebase = always
[aliases]
	r = reset HEAD --hard
