[user]
	email = divyekapoor@gmail.com
	name = Divye Kapoor
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[alias]
	unstage = reset HEAD
	co = checkout
	br = branch
	l = log --graph --pretty=format:\"%C(yellow)%h%Creset%C(cyan)%C(bold)%d%Creset %C(cyan)(%ar)%Creset %C(green)%ae%Creset %s\"
	r = reset HEAD --hard
	u = reset HEAD
	c = commit
	s = status
	b = branch -vv
	authors = shortlog -s -n --no-merges
	d = difftool
	undo = reset HEAD~ --soft
	unsubmit = reset HEAD~ --hard
[credential]
	helper = cache --timeout=2592000
[branch]
	autosetuprebase = always
[aliases]
	r = reset HEAD --hard
[push]
	default = simple
[core]
	abbrev = 5
[branch "master"]
	rebase = true
	mergeoptions = --ff-only
[merge]
	ff = only
[receive]
	denyCurrentBranch = updateInstead
